applescript==2021.2.9
bs4==0.0.1
charset-normalizer==2.0.12
fonttools==4.37.1
joblib==1.1.0
mercurial==6.1.4
packaging==21.3
pyarrow==9.0.0
python-crontab==2.6.0
QScintilla==2.13.3
scipy==1.9.1
TBB==0.2
threadpoolctl==3.1.0
